<h1>Owner List</h1>

<div class="ui-g-12">
    <p-button (click)="openDialog()" [label]="'Add Owner'"
              class="ui-g-12 ui-md-2" icon="ui-icon-plus">
    </p-button>
</div>

<p-table [value]="ownerList" [lazy]="true" (onLazyLoad)="refreshTable()"
         [columns]="columns"
         scrollHeight="50vh"
         [responsive]="true" [scrollable]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 5ch"></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td style="width: 5ch">
                <span pTooltip="Active Owner" tooltipPosition="top" class="ui-icon-check table-button" (click)="setOwnerActive(rowData)"></span>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<h3>Selected Owner: {{getSelectedOnwer()}}</h3>
